*{
    background-color: #307E92;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #9BBBC4;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

h2{
    color: #FAB8D1;
    font-size: 50px;
    text-align: center;
}